@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    /* outline: 1px solid red; */
  }
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  :root {
    --primary-purple: #CB00E3;
    --input-gray: #343A40;
  }
  body {
    font-size: 1.6rem;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  input , textarea {
    background: transparent;
  }
  input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
  }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    @apply hidden;
  }
  footer h3 {
    @apply text-black mb-[1.5rem] lg:mb-[3rem] leading-[1.936rem] font-medium;
  }
  footer p {
    @apply text-[rgba(30,30,30,1)] leading-[1.8rem];
  }
  footer p:not(:last-child) {
    @apply mb-[0.8rem];
  }
}

@layer components {
  .prevent-scrolling {
    @apply overflow-y-hidden
  }
  .hamburger-icon.active > section:nth-child(1) {
    transform: rotate(45deg) translateY(0.85rem);
  }
  .hamburger-icon.active > section:nth-child(2) {
    opacity: 0;
  }
  .hamburger-icon.active > section:nth-child(3) {
    transform: rotate(-45deg) translateY(-0.85rem);
  }
  .hamburger-icon.active .mobile-navigation-menu {
    left: 0
  }
  .help-center.active {
    .help-center-caret {
      transform: rotateX(180deg)
    }
    .help-center-menu {
      top: 6rem;
    }
  }
  .home-hero-section {
    background: linear-gradient(90deg, rgba(203, 0, 227, 0.1) 1.01%, rgba(203, 0, 227, 0.15) 25.76%, rgba(203, 0, 227, 0.18) 50.5%, rgba(203, 0, 227, 0.19) 75.25%, rgba(203, 0, 227, 0.2) 100%), url("./assets/landing-page-images/hero-background-image.webp");
  }
  .clip-text-section {
    background: url("/src/assets/landing-page-images/text-clip-background-image.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .home-sell-ticket-section {
    background: linear-gradient(90deg, rgba(142, 61, 152, 0.75) 1.67%, rgba(142, 61, 152, 0.75) 5.64%, rgba(142, 61, 152, 0.75) 10.61%, rgba(142, 61, 152, 0.75) 15.57%, rgba(142, 61, 152, 0.75) 20.54%, rgba(142, 61, 152, 0.75) 30.47%, rgba(91, 73, 94, 0.75) 75.17%, rgba(91, 73, 94, 0.75) 90.07%), url("./assets/landing-page-images/sell-ticket-effortlessly-image.jpg");
  }
  .event-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/event-hero-bg.jpg);
  }
  .about-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/about-us-images/hero-bg.jpg);
  }
  .event-card-wrapper::-webkit-scrollbar {
    @apply hidden
  }
}

@layer utilities {
  .center {
    @apply grid place-items-center;
  }
  .gen-transistion {
    transition: all 0.35s ease-in-out;
  }
  .linear-transistion {
    transition: all 1s linear;
  }
  @keyframes move {
    from {
      transform: translateY(5rem);
    }
    to {
      transform: translateY(-5rem);
      color: var(--primary-purple);
    }
  }
}